<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>修改菜单</title>
    <link th:href="@{/plugins/umeditor/themes/default/css/umeditor.css}" type="text/css"
          rel="stylesheet"/>
    <head th:include="inc/common :: head"></head>
    <link th:href="@{/css/menu.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="main">
    <div id="updateDialog" class="crudDialog">
        <form id="updateForm" method="post" class="form-horizontal">
            <div class="row">
                <div hidden="true">
                    <input id="id" type="text" class="form-control" name="id"
                           th:value="${menu.id}"/>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="fg-line">
                            <label class="control-label" for="name">名称</label>
                            <input id="name" type="text" class="form-control" name="name"
                                   th:value="${menu.name}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right dialog-buttons">
                <a id="update" class="waves-effect waves-button" href="javascript:;">保存</a>
                <a class="waves-effect waves-button" href="javascript:;"
                   onclick="updateDialog.close();">取消</a>
            </div>
        </form>
    </div>

    <div class="clear"></div>
    <div th:include="inc/common :: footer"></div>
    <script type="text/javascript" th:src="@{/plugins/umeditor/third-party/jquery.min.js}"></script>
    <script type="text/javascript" charset="utf-8"
            th:src="@{/plugins/umeditor/umeditor.config.js}"></script>
    <script type="text/javascript" charset="utf-8"
            th:src="@{/plugins/umeditor/umeditor.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/umeditor/lang/zh-cn/zh-cn.js}"></script>
    <script th:inline="javascript">
    </script>
    <script>

        //修改
        $("#update").click(function () {
            var data = $("#updateForm").data("bootstrapValidator");
            data.validate();
            var flag = data.isValid();
            if (!flag) {
                return;
            }
            $.ajax({
                       type: 'post',
                       url: '/manage/menu/update',
                       data: $('#updateForm').serialize(),
                       beforeSend: function () {
                           if ($('#title').val() == '') {
                               $('#title').focus();
                               return false;
                           }
                       },
                       success: function (result) {
                           if (result.code != 1) {
                               if (result.data instanceof Array) {
                                   $.each(result.data, function (index, value) {
                                       $.confirm({
                                                     theme: 'dark',
                                                     animation: 'rotateX',
                                                     closeAnimation: 'rotateX',
                                                     title: false,
                                                     content: value.errorMsg,
                                                     buttons: {
                                                         confirm: {
                                                             text: '确认',
                                                             btnClass: 'waves-effect waves-button waves-light'
                                                         }
                                                     }
                                                 });
                                   });
                               } else {
                                   $.confirm({
                                                 theme: 'dark',
                                                 animation: 'rotateX',
                                                 closeAnimation: 'rotateX',
                                                 title: false,
                                                 content: result.data.errorMsg,
                                                 buttons: {
                                                     confirm: {
                                                         text: '确认',
                                                         btnClass: 'waves-effect waves-button waves-light'
                                                     }
                                                 }
                                             });
                               }
                           } else {
                               updateDialog.close();
                               $table.bootstrapTable('refresh');
                           }
                       },
                       error: function (XMLHttpRequest, textStatus, errorThrown) {
                           $.confirm({
                                         theme: 'dark',
                                         animation: 'rotateX',
                                         closeAnimation: 'rotateX',
                                         title: false,
                                         content: textStatus,
                                         buttons: {
                                             confirm: {
                                                 text: '确认',
                                                 btnClass: 'waves-effect waves-button waves-light'
                                             }
                                         }
                                     });
                       }
                   });
        });

        $().ready(function () {
        });
    </script>
</div>
</body>
</html>