<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjp.dao.CustomerMessageMapper">
  <resultMap id="BaseResultMap" type="com.xjp.model.CustomerMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>