<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/jquery-confirm/jquery-confirm.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/jquery-confirm/jquery-confirm.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/theme/select2-bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrapValidator-0.4.5/css/bootstrapValidator.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
</head>

<div th:fragment="footer">
    <script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
    <script th:src="@{/plugins/jquery-confirm/jquery-confirm.min.js}"></script>
    <script th:src="@{/plugins/select2/js/select2.min.js}"></script>
    <script th:src="@{/plugins/zTree_v3/js/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/plugins/bootstrapValidator-0.4.5/js/bootstrapValidator.js}"></script>
    <script th:src="@{/plugins/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</div>

<!--前台菜单-->
<div th:fragment="menu">
    <div id="ivf-menu" class="container-fluid" style="padding: 0px;">
        <ul class="container ivf-menus" style="height: 100px;">
            <img style="float: left;" th:src="@{/images/ivf.jpg}" height="100px"/>
            <li>
                <a th:each="menu, iterStat : ${menus}" th:href="'/' + ${menu.url}" class="ivf-menu"
                   style="display: block; height: 100px; width: 100px; float: left; padding: 40px 10px; text-align: center;">
                    <span th:text="${menu.name}" style="font-size: 16px;"></span>
                </a>
            </li>

        </ul>
    </div>
</div>

<!--前台底部footer-->
<div th:fragment="foot">
    <footer class="ivf-footer" style="height: 80px; background-color: darkgray;">
        <div class="container" style="text-align: center; color: white; padding: 10px;">
            <p>Copyright © 2017,www.ivf1.cn,All rights reserved版权所有 © 宝贝计划试管婴儿</p>
            <p>未经许可 严禁复制 </p>
        </div>
    </footer>
</div>

</html>