<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>新增图片</title>
    <head th:include="/inc/common :: head"></head>
</head>
<body>
<div id="main">
    <div id="createDialog" class="crudDialog">
        <form class="well" method="post" action="upload" enctype="multipart/form-data"
              style="text-align: center;">
            <img src="" id="preview" width="120px" height="120px"
                 style="border: 1px solid #aaa;"/>
            <br/>
            <div style="margin: 20px auto; width: 500px; height: 80px; text-align: center">
                <input type="file" name="file" class="btn btn-default"
                       onchange="imgPreview(this)" style="float: left;"/>
                <input type="submit" class="btn btn-success" value="上传" style="float: left; margin-left: 10px;"/>
                <a href="/manage/image/index" class="btn btn-default" style="float: left; margin-left: 10px;" >返回</a>
            </div>
        </form>
    </div>
    <div th:include="/inc/common :: footer"></div>
    <script>

        <!-- 图片预览 -->
        function imgPreview(fileDom) {
            //判断是否支持FileReader
            if (window.FileReader) {
                var reader = new FileReader();
            } else {
                alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
            }
            //获取文件
            var file = fileDom.files[0];
            var imageType = /^image\//;
            //是否是图片
            if (!imageType.test(file.type)) {
                alert("请选择图片！");
                return;
            }
            //读取完成
            reader.onload = function (e) {
                //获取图片dom
                var img = document.getElementById("preview");
                //图片路径设置为读取的图片
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }

        $().ready(function () {

        });
    </script>
</div>
</body>
</html>