<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>联系我们元素定制</title>
    <head th:include="inc/common :: head"></head>
</head>
<body>
<div id="main">
    <h3>联系我们元素定制</h3>
    <div class="col-md-12 well">

    </div>
</div>
</body>
<div th:include="inc/common :: footer"></div>
<script>
</script>
</html>