<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>

    <link th:href="@{/plugins/fullPage/jquery.fullPage.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <style>
        #header{
            background-color: #00b7ee;
        }
        .tabs{
            background-color: #00b7ee;
        }
    </style>
</head>
<body>
<header id="header"></header>

<footer id="footer"></footer>

<script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
<script th:src="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/plugins/BootstrapMenu.min.js}"></script>
<script th:src="@{/plugins/device.min.js}"></script>
<script th:src="@{/plugins/fullPage/jquery.fullPage.min.js}"></script>
<script th:src="@{/plugins/fullPage/jquery.jdirk.min.js}"></script>
<script th:src="@{/plugins/jquery.cookie.js}"></script>

<script th:src="@{/js/admin.js}"></script>
</body>
</html>