<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>

    <link th:href="@{/plugins/fullPage/jquery.fullPage.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <style>
        #header {
            background-color: #00b7ee;
        }

        .tabs {
            background-color: #00b7ee;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">菜鸟教程</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">iOS</a></li>
                        <li><a href="#">SVN</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Java <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">jmeter</a></li>
                                <li><a href="#">EJB</a></li>
                                <li><a href="#">Jasper Report</a></li>
                                <li class="divider"></li>
                                <li><a href="#">分离的链接</a></li>
                                <li class="divider"></li>
                                <li><a href="#">另一个分离的链接</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <footer id="footer"></footer>

    <script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
    <script th:src="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/plugins/BootstrapMenu.min.js}"></script>
    <script th:src="@{/plugins/device.min.js}"></script>
    <script th:src="@{/plugins/fullPage/jquery.fullPage.min.js}"></script>
    <script th:src="@{/plugins/fullPage/jquery.jdirk.min.js}"></script>
    <script th:src="@{/plugins/jquery.cookie.js}"></script>

    <script th:src="@{/js/admin.js}"></script>
</body>
</html>