<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>

    <link th:href="@{/plugins/fullPage/jquery.fullPage.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <style>
        #allmap {
            height: 60%;
            overflow: hidden;
            font-family: "微软雅黑";
        }

        #content {
            height: 500px;
            padding: 20px 0px;
        }
    </style>
</head>

<body>
<!--菜单-->
<div th:include="inc/common :: menu"></div>
<!--地图-->
<div id="allmap" class="container"></div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-6" style="font-size: 16px; margin-top: 40px;">
            <p style="margin-left: 100px;">地址：长沙市开福区华创国际广场  </p>
            <p style="margin-left: 100px;">考察热线：13422217727    18588892200</p>
            <p style="margin-left: 100px;">手机微信：15116232111   18073126111</p>
            <p style="margin-left: 180px;">13288815558   13142064777</p>
            <p><img src="/images/xinlang.jpg" width="100px" />官方微博：宝贝计划试管婴儿集团<a href="http://weibo.com/bbjhbaby" style="color: deepskyblue">http://weibo.com/bbjhbaby</a></p>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <img src="/images/weixin.png" width="200px;" />
        </div>
    </div>
</div>
<!--<div id="content" class="container">-->
    <!--<div class="row" th:object="${contact}">-->
        <!--<div class="col-md-6">-->
            <!--<p id="address" th:text="'地址：'+ *{address}"></p>-->
            <!--<p th:text="|考察热线：*{number}|"></p>-->
            <!--<p th:text="|手机微信：*{wechat}|"></p>-->
            <!--<p th:text="|官方微博：*{weibo}|"></p>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<img th:src="*{ewm}"/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div th:include="inc/common :: foot"></div>
</body>
<script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&amp;ak=DdoGPW2t2sKvPQHHPkgRiOU6"></script>
<script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
<script th:src="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/plugins/BootstrapMenu.min.js}"></script>
<script th:src="@{/plugins/device.min.js}"></script>
<script th:src="@{/plugins/fullPage/jquery.fullPage.min.js}"></script>
<script th:src="@{/plugins/fullPage/jquery.jdirk.min.js}"></script>
<script th:src="@{/plugins/jquery.cookie.js}"></script>
<script th:src="@{/js/common-front.js}"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
                                               mapTypes: [
                                                   BMAP_NORMAL_MAP,
                                                   BMAP_HYBRID_MAP
                                               ]
                                           }));
    map.setCurrentCity("长沙");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //
    var local = new BMap.LocalSearch(map, {
        renderOptions: {map: map}
    });
//    local.search($('#address').text());
    local.search('长沙市开福区长沙市开福区金龙小区');
    setCurrentMenu();
</script>

</html>