<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>在线留言</title>
	<link th:href="@{/plugins/fullPage/jquery.fullPage.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
		  rel="stylesheet"/>
	<link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}"
		  rel="stylesheet"/>
	<link th:href="@{/plugins/bootstrapValidator-0.4.5/css/bootstrapValidator.css}"
		  rel="stylesheet"/>
	<link th:href="@{/css/common.css}" rel="stylesheet"/>
	</head>
	<style type="text/css">
	</style>

	<body>
	<!--菜单-->
	<div th:include="inc/common :: menu"></div>

		<div class="container" style="margin-bottom: 100px;">
			<div style="width: 600px; margin: 40px 0;">
				<p><strong>为了能实现“提供百分之百满意的客户服务”的诺言，我们配备了专业的管理人员，在全国更有队伍庞大的医疗技术人员和服务人员，为用户提供完善的服务</strong></p>
			</div>
			<ol class="breadcrumb">
				<li>
					<a href="index.html">首页</a>
				</li>
				<li class="active">在线留言</li>
			</ol>
			<div class="row" style="min-height: 480px;">
				<form id="messageBox" role="form" class="form-horizontal col-md-6" style="text-align: center;" action="/message/addMsg" method="post">
					<h3 style="margin: 0 auto; color: green;">咨询留言</h3>
					<br />
					<div class="form-group">
						<label class="col-sm-2 control-label">您的姓名</label>
						<div class="col-sm-10">
							<input class="form-control" id="nameInput" name="name" type="text"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">微信</label>
						<div class="col-sm-10">
							<input class="form-control" id="weixinInput" name="weixin" type="text"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-10">
							<input class="form-control" id="mailInput" name="mail" type="text"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">手机</label>
						<div class="col-sm-10">
							<input class="form-control" id="phoneInput" name="phone" type="text"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">留言内容</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="3" id="contentTextarea" name="content"></textarea>
						</div>

					</div>
					<button id="create" type="submit" class="btn btn-success btn-lg col-sm-12">提交</button>
				</form>
				<div class="col-md-6">

				</div>
			</div>
		</div>
<div style="position: fixed; top: 10px; right: 0px;">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div style="vertical-align: middle; float: right;">
					<button type="button" class="btn btn-default"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div style="vertical-align: middle; color: green; font-size: 16px">
					<p>13422217727</p>
					<p>18588892200</p>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<img style="width: 80px" height="80px" src="/images/weixin.png" />
			</div>
		</div>
	</div>
	<div th:include="inc/common :: foot"></div>
	</body>
<script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
<script th:src="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/plugins/BootstrapMenu.min.js}"></script>
<script th:src="@{/plugins/device.min.js}"></script>
<script th:src="@{/plugins/fullPage/jquery.fullPage.min.js}"></script>
<script th:src="@{/plugins/fullPage/jquery.jdirk.min.js}"></script>
<script th:src="@{/plugins/jquery.cookie.js}"></script>
<script th:src="@{/plugins/bootstrapValidator-0.4.5/js/bootstrapValidator.js}"></script>
<script th:src="@{/js/common-front.js}"></script>
<script>
    setCurrentMenu();
    $().ready(function () {
        $('#messageBox').bootstrapValidator({
            //
            excluded: [':disabled', ':hidden',
                ':not(:visible)'],
            //指定验证后验证字段的提示字体图标
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            //为每个字段指定通用错误提示语
            message: '该值不正确',
            //表单域配置
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '请填写您的姓名'
                        }
                    }
                },
                mail: {
                    validators: {
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: '请填写您的手机号'
                        },
                        phone: {
                            message: '请填入正确的手机号'
                        }
                    }
                },
                content: {
                    validators: {
                        stringLength: {
                            min: 5,
							max: 100
                        }
                    }
                }
            }

        });
        //提交
//        $('#create').click(function(){
//            var data = $("#messageBox").data("bootstrapValidator");
//            data.validate();
//            var flag = data.isValid();
//            if (!flag) {
//                return;
//            }
//            $.ajax({
//                type: 'post',
//                url: '/message/addMsg',
//                data: $('#messageBox').serialize(),
//                beforeSend: function () {
//                    if ($('#title').val() == '') {
//                        $('#title').focus();
//                        return false;
//                    }
//                },
//                success: function (result) {
//                    if (result.code != 1) {
//                        if (result.data instanceof Array) {
//                            $.each(result.data, function (index, value) {
//                                $.confirm({
//                                    theme: 'dark',
//                                    animation: 'rotateX',
//                                    closeAnimation: 'rotateX',
//                                    title: false,
//                                    content: value.errorMsg,
//                                    buttons: {
//                                        confirm: {
//                                            text: '确认',
//                                            btnClass: 'waves-effect waves-button waves-light'
//                                        }
//                                    }
//                                });
//                            });
//                        } else {
//                            $.confirm({
//                                theme: 'dark',
//                                animation: 'rotateX',
//                                closeAnimation: 'rotateX',
//                                title: false,
//                                content: result.data.errorMsg,
//                                buttons: {
//                                    confirm: {
//                                        text: '确认',
//                                        btnClass: 'waves-effect waves-button waves-light'
//                                    }
//                                }
//                            });
//                        }
//                    } else {
//                        createDialog.close();
//                        $table.bootstrapTable('refresh');
//                    }
//                },
//                error: function (XMLHttpRequest, textStatus, errorThrown) {
//                    $.confirm({
//                        theme: 'dark',
//                        animation: 'rotateX',
//                        closeAnimation: 'rotateX',
//                        title: false,
//                        content: textStatus,
//                        buttons: {
//                            confirm: {
//                                text: '确认',
//                                btnClass: 'waves-effect waves-button waves-light'
//                            }
//                        }
//                    });
//                }
//            });
//        });
    });
</script>
</html>