<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>试管资讯</title>

	<link th:href="@{/plugins/fullPage/jquery.fullPage.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
		  rel="stylesheet"/>
	<link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}"
		  rel="stylesheet"/>
	<link th:href="@{/plugins/imggrid/imggrid.css}" rel="stylesheet"/>
	<link th:href="@{/css/common.css}" rel="stylesheet"/>
	<style>
	</style>
</head>
	<style type="text/css">
        #images a{
            display: block;
            padding: 10px;
            font-size: 16px;
            -moz-box-shadow: 1px 2px 1px #aaa; /* 老的 Firefox */
            box-shadow: 1px 2px 1px #aaa;
        }
	</style>
	<body>
	<div th:include="inc/common :: menu"></div>

	<!--大图-->
	<div id="myCarousel" class="carousel slide" style="height: 500px">
		<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" th:if="${Iterable.index==0}"  class="active"
				th:attr="data-slide-to=${Iterable.index}" th:each="bigImage,Iterable: ${bigImages}"></li>
			<li data-target="#myCarousel" th:if="${Iterable.index!=0}"
				th:attr="data-slide-to=${Iterable.index}" th:each="bigImage,Iterable: ${bigImages}"></li>
		</ol>
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div th:if="${Iterable.index==0}"  class="item active" th:each="bigImage,Iterable: ${bigImages}">
				<img th:src="'http://localhost:8000/upload/' + ${bigImage.name}" style="max-height: 500px; margin: 0 auto;" />
			</div>
			<div th:if="${Iterable.index!=0}"  class="item" th:each="bigImage,Iterable: ${bigImages}">
				<img th:src="'http://localhost:8000/upload/' + ${bigImage.name}" style="max-height: 500px; margin: 0 auto;" />
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel"
		   data-slide="prev" style="padding-top: 248px;">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel"
		   data-slide="next" style="padding-top: 248px;">&rsaquo;</a>
	</div>

		<div class="container">
			<div>
				<h3 style="color: green;">NEWS CENTER</h3>
				<p>试管资讯</p>
				<p><strong>为了能实现“提供百分之百满意的客户服务”的诺言，我们配备了专业的管理人员，在全国更有队伍庞大的医疗技术人员和服务人员，为用户提供完善的服务</strong></p>
			</div>

			<!--导航-->
			<ol class="breadcrumb">
				<li>
					<a th:href="@{/index}">首页</a>
				</li>
				<li class="active">试管资讯</li>
			</ol>
			
			<div class="btn-group">
					<button type="button" class="btn btn-default" style="background-color: green; color: white; width: 400px;">试管资讯</button>
				</div>
			<div style="text-align: center;">
				
				<!--照片列表-->
				<div id="imggrid"></div>
			</div>
		</div>

	<div th:include="inc/common :: foot"></div>

	<script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
	<script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
	<script th:src="@{/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/plugins/BootstrapMenu.min.js}"></script>
	<script th:src="@{/plugins/device.min.js}"></script>
	<script th:src="@{/plugins/fullPage/jquery.fullPage.min.js}"></script>
	<script th:src="@{/plugins/fullPage/jquery.jdirk.min.js}"></script>
	<script th:src="@{/plugins/jquery.cookie.js}"></script>
	<script th:src="@{/plugins/imggrid/imggrid.js}"></script>
	<script th:src="@{/js/common-front.js}"></script>
	<script th:inline="javascript">
        var bigImages = [[${bigImages}]];
	</script>
	<script th:inline="javascript">
//        <![CDATA[
		// 初始化轮播
		$("#myCarousel").carousel('cycle');
        setCurrentMenu();
        $(function(){
            var type=4;//试管资讯
            $('#imggrid').imgGrid({
                title: false,
                type: 'GET',//GET|POST
                data:'',//本地数据
                url: '/articles/' + type,//ajax URL
                params: {},//url参数
                height: '450px',
                width: '100%',
                img: { width: '200px', animate: 'zoomIn' },//图片宽度，及动画效果
                onClick: function (obj, index, item) {//点击图片事件
                    window.location.href =
                        "http://localhost:8000/tube/article/" + item.id;
                },
                render: function (item, index) {//自定义显示图片
                    var img = '<img src='+[[@{/images/sy_sg.jpg}]]+'style="width:200px;height:200px;">';//默认图片
					if(item.imageUrl){
                        img = '<img src="/upload/' + item.imageUrl + '" style="width: 200px;height: 200px;">';
					}
                    var str = img + "<p style='text-align: center; font-size: 16px'>" + item.title + "</p>";
                    return str;
                }
            });
		});
//        ]]>
	</script>
	</body>
</html>
