<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>文章列表</title>
    <head th:include="/inc/common :: head"></head>
</head>
<body>
<div id="main">
    <div id="toolbar">
        <a class="waves-effect waves-button" href="/manage/article/add"><i
                class="zmdi zmdi-plus"></i> 新增文章</a>
        <a class="waves-effect waves-button" href="javascript:;" onclick="updateAction()"><i
                class="zmdi zmdi-edit"></i> 编辑文章</a>
        <a class="waves-effect waves-button" href="javascript:;" onclick="deleteAction()"><i
                class="zmdi zmdi-close"></i> 删除文章</a>
    </div>
    <table id="table"></table>
</div>
</body>
<div th:include="/inc/common :: footer"></div>
<script>
    var $table = $('#table');
    $(function () {
        // bootstrap table初始化
        $table.bootstrapTable
        ({
             url: '/manage/article/list',
             height: getHeight(),
             striped: true,
             search: false,
             showRefresh: true,
             showColumns: false,
             minimumCountColumns: 2,
             clickToSelect: true,
             detailView: true,
             detailFormatter: 'detailFormatter',
             pagination: true,
             paginationLoop: false,
             sidePagination: 'server',
             silentSort: false,
             smartDisplay: false,
             escape: true,
             searchOnEnterKey: true,
             idField: 'id',
             maintainSelected: true,
             toolbar: '#toolbar',
             columns: [
                 {field: 'ck', checkbox: true},
                 {
                     field: 'id',
                     title: '编号',
                     sortable: true,
                     align: 'center'
                 },
                 {field: 'title', title: '标题'},
                 {field: 'content', title: '内容'},
                 {
                     field: 'typeName',
                     title: '类型'
                 },
                 {
                     field: 'date',
                     title: '创建日期',
                     formatter: function (value, row, index) {
                         return new Date(parseInt(value)).toLocaleString().replace(/:\d{1,2}$/,' ');
                     }
                 }
             ]
         });
    });

    // 编辑
    function updateAction() {
        var rows = $table.bootstrapTable('getSelections');
        if (rows.length != 1) {
            $.confirm({
                          title: false,
                          content: '请选择一条记录！',
                          autoClose: 'cancel|3000',
                          backgroundDismiss: true,
                          buttons: {
                              cancel: {
                                  text: '取消',
                                  btnClass: 'waves-effect waves-button'
                              }
                          }
                      });
        } else {
            window.location = "/manage/article/update/" + rows[0].id;
        }
    }

    // 删除
    var deleteDialog;
    function deleteAction() {
        var rows = $table.bootstrapTable('getSelections');
        if (rows.length == 0) {
            $.confirm({
                          title: false,
                          content: '请至少选择一条记录！',
                          autoClose: 'cancel|3000',
                          backgroundDismiss: true,
                          buttons: {
                              cancel: {
                                  text: '取消',
                                  btnClass: 'waves-effect waves-button'
                              }
                          }
                      });
        } else {
            deleteDialog = $.confirm
            ({
                 type: 'red',
                 animationSpeed: 300,
                 title: false,
                 content: '确认删除该文章吗？',
                 buttons: {
                     confirm: {
                         text: '确认',
                         btnClass: 'waves-effect waves-button',
                         action: function () {
                             var ids = new Array();
                             for (var i in rows) {
                                 ids.push(rows[i].id);
                             }
                             $.ajax({
                                        type: 'get',
                                        url: '/manage/article/delete/'
                                             + ids.join("-"),
                                        success: function (result) {
                                            if (result.code != 1) {
                                                if (result.data
                                                    instanceof Array) {
                                                    $.each(result.data,
                                                           function (index,
                                                                     value) {
                                                               $.confirm({
                                                                             theme: 'dark',
                                                                             animation: 'rotateX',
                                                                             closeAnimation: 'rotateX',
                                                                             title: false,
                                                                             content: value.errorMsg,
                                                                             buttons: {
                                                                                 confirm: {
                                                                                     text: '确认',
                                                                                     btnClass: 'waves-effect waves-button waves-light'
                                                                                 }
                                                                             }
                                                                         });
                                                           });
                                                } else {
                                                    $.confirm({
                                                                  theme: 'dark',
                                                                  animation: 'rotateX',
                                                                  closeAnimation: 'rotateX',
                                                                  title: false,
                                                                  content: result.data.errorMsg,
                                                                  buttons: {
                                                                      confirm: {
                                                                          text: '确认',
                                                                          btnClass: 'waves-effect waves-button waves-light'
                                                                      }
                                                                  }
                                                              });
                                                }
                                            } else {
                                                deleteDialog.close();
                                                $table.bootstrapTable(
                                                    'refresh');
                                            }
                                        },
                                        error: function (XMLHttpRequest,
                                                         textStatus,
                                                         errorThrown) {
                                            $.confirm({
                                                          theme: 'dark',
                                                          animation: 'rotateX',
                                                          closeAnimation: 'rotateX',
                                                          title: false,
                                                          content: textStatus,
                                                          buttons: {
                                                              confirm: {
                                                                  text: '确认',
                                                                  btnClass: 'waves-effect waves-button waves-light'
                                                              }
                                                          }
                                                      });
                                        }
                                    });
                         }
                     },
                     cancel: {
                         text: '取消',
                         btnClass: 'waves-effect waves-button'
                     }
                 }
             });
        }
    }

</script>
</html>