<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>文章列表</title>
    <head th:include="/inc/common :: head"></head>
</head>
<body>
<div id="main">
    <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form" th:object="${contact}">
            <div class="form-group">
                <label for="address">地址：</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="请输入地址"
                       th:value="*{address}"  />
            </div>
            <br/>
            <div class="form-group">
                <label for="number">联系热线</label>
                <input type="text" class="form-control" id="number" name="number" placeholder="请输入联系热线"
                       th:value="*{number}" />
            </div>
            <div class="form-group">
                <label for="wechat">微信账号</label>
                <input type="text" class="form-control" id="wechat" name="wechat" placeholder="请输入微信账号"
                       th:value="*{wechat}"/>
            </div>
            <div class="form-group">
                <label for="weibo">微博地址</label>
                <input type="text" class="form-control" id="weibo" name="weibo" placeholder="请输入微博地址"
                       th:value="*{weibo}"/>
            </div>
            <div class = "form-group">
                <label for = "ewm">请上传二维码</label>
                <input type = "file" id = "ewm" name="ewm" />
            </div>
            <div class="form-group">
                <button type = "submit" class="btn-info btn-lg">提交</button>
            </div>
        </form>
    </div>
</div>
</body>
<div th:include="/inc/common :: footer"></div>
<script>

</script>
</html>